
@font-face{
	src: url(../fonts/Poppins-Regular.ttf);
	font-family:poppins;
}
@font-face{
	src: url('../fonts/GlacialIndifference-Bold.otf');
	font-family:glacial-b;
}
@font-face{
	src: url('../fonts/GlacialIndifference-regular.otf');
	font-family: glacial;
}
@font-face{
	src: url('../fonts/OpenSans-Regular.ttf');
	font-family: junaid;
}
@font-face{
	src: url(../fonts/OpenSans-Regular.ttf);
	font-family: open-reg;
}
@font-face{
	src: url(../fonts/OpenSans-Bold.ttf);
	font-family: open-bold;
}
@font-face{
	src: url(../fonts/Montserrat-Regular.ttf);
	font-family: mont-reg;
}
@font-face{
	src: url(../fonts/Montserrat-Bold.ttf);
	font-family: mont-bold;
}
@font-face{
	src: url(../fonts/Montserrat-Italic.ttf);
	font-family: mont-italic;
}
@font-face{
	src: url(../fonts/Lato-Regular.ttf);
	font-family: lato-reg;
}
.red{
	background: #e02950;
	.container{
		max-width: 1200px;
		margin: 0 auto;
		.topbar{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .toplink{
            	width: 65%;
            	ul{
            		padding: 25px 15px;
            		li{
            		    display: inline;
					    color: white;
					    margin-right: 26px;
					    font-family:glacial;
					    font-size: 16px;
					    a{
				    	text-decoration: none;
				    	color: white;
				    }
            		}
            	}
            }
            .topicon{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            	width: 35%;
            	.left{
            		width: 70%;
            	ul{
            		padding: 25px 0px 25px 32px;
            		li{
            			display: inline;
					    color: white;
					    margin-left: 13px;
					    font-family: glacial;
					    font-size: 16px;
					    a{
				    	text-decoration: none;
				    	color: white;
					    i{
					    	font-size: 13px;
					    }
				    }
            		}
            	}
              }
              .right{
              	  width: 30%;
            	ul{
            		padding: 25px 0px 25px 10px;
            		li{
            			display: inline;
					    color: white;
					    margin-left: 6px;
					    font-family: glacial;
					    font-size: 16px;
					    a{
				    	text-decoration: none;
				    	color: white;
					    i{
					    	font-size: 13px;
					    }
				    }
            		}
            	}
              }
            }
		}
	}
}
.container{
	    width: 1200px;
		margin: 0 auto;
    .riot{
	   display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
         .logo{
    	    width: 25%;
    	    img{
    	    	width: 104%;
			    margin-top: 28px;
			    margin-bottom: 25px;
			    margin-left: 5%;
    	    }
          }
         nav{
    	    width: 65%;
				i.fa-solid{
					display: none;
				}
    	    ul{
    	    	margin-top: 80px;
    	    	margin-left: 45px;
    	    	li{
    	    		display: inline;
				    font-family: glacial;
				    padding-left: 47px;
				    font-size: 18px;
				    color: #a7a7a7;  
				    a{
				    	text-decoration: none;
				    	color:  #a7a7a7;
				    }
				    :hover{
				    	color:#e02950; 
				    }  		
    	    	}
    	    }
          }
         .icon{
    	   width: 10%;
    	     ul{
    	     	margin: 78px 0 0 34px;
    	     	li{
    	    		display: inline;
				    padding-right: 23px;
				    font-size: 19px;
				    color: #b1b1b1; 
				    a{
				    	text-decoration: none;
				    	color:  #a7a7a7;
				    }
				    :hover{
				    	color:#e02950; 
				    }
    	    	}
    	     }
          }
    }
}
.banner{
	padding:50px 0px 50px 0px;	
	background-size:100%;
	background-position:center;
	background-image:url('../img/banner.gif'); 
	color: white;
	text-align: center;
	margin-bottom: 60px;
	h1{
		font-size: 80px;
		font-weight: bold;
		font-family: glacial-b;
		padding-bottom: 30px;
		padding-top: 50px;
	}
	p{
		font-size: 18px;
		font-family:glacial;
		padding-bottom: 30px;
		line-height: 1.6;
	}
	button {
	    background: none;
	    color: white;
	    border: 1px solid white;
	    padding: 20px 90px;
	    font-size: 20px;
	    font-family: glacial;
	    margin:0 auto;
	    display: block;
	    a{
	      text-decoration: none;
		  color: white;
	   }
	}
    img {
	    margin-top: 40px;
	    a{
	      text-decoration: none;
	   }
	}
}
.b2{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 60px;
    .b21{
    	width: 30%;
    	img{
    		width: 65%;
    	}
    }
    .b22{
    	width: 30%;
    	margin-left: 30px;
    	img{
    		width: 65%;
    	}
    }
    .b23{
    	width: 30%;
    	margin-left: 20px;
    	img{
    		width: 65%;
    	}
    }
}
.product{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    .industry{
    	background-image:url('../img/img1.gif'); 
    	width: 47%;
    	color: white;
    	margin-left: 25px;
    	height: 100%;
    		display: flex;
		    justify-content: space-between;
		    flex-wrap: wrap;
		    .i{
		    	width: 70%;
			    h1{
			    	font-size: 30px;
			    	font-family:mont-bold; 
			    	padding: 300px 0 20px 30px;
			    }
			}
			.i1{
				width: 30%;
				a{
					text-decoration:none;
					color: white;
					i{
						font-size: 30px;
						padding: 300px 0 0 90px;
					}
				}
			}
    }
    .health2{
    	background-image:url('../img/img2.gif'); 
    	width: 47%;
    	color: white;
    	margin-right: 25px;
    	    display: flex;
		    justify-content: space-between;
		    flex-wrap: wrap;
		    .h{
		    	width: 70%;
			    	h1{
			    		font-size: 30px;
			    		font-family:mont-bold; 
			    		padding: 300px 0 20px 30px;
			    	}
			}
			.h1{
				width: 30%;
				a{
					text-decoration:none;
					color: white;
					i{
						font-size: 30px;
						padding: 300px 0 0 90px;
					}
				}
			}
    }
 }  
 .products{
 	   display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       text-align: center;
       margin-bottom:  60px;
       width: 96%;
       margin-left: 2%;
       .pro1{
       	   width: 23%;
       	   border: 2px solid  #e6e6e6;
       	   padding-top: 90px;
       	   p {
			    padding-top: 40px;
			    font-size: 20px;
			    font-family: glacial;
			    a{
	      text-decoration: none;
		  color:black;
	   }
			}
       }
       .pro2{
       	   width: 23%;
       	   border: 2px solid  #e6e6e6;
       	   padding-top: 90px;
       	    p {
			    padding-top: 40px;
			    font-size: 20px;
			    font-family:  glacial;
			    padding-bottom: 15px;
			    a{
	      text-decoration: none;
		  color:black;
	   }
			}
       }
       .pro3{
       	   width: 23%;
       	   border: 2px solid  #e6e6e6;
       	   padding-top: 130px;
       	    p {
			    padding-top: 30px;
			    font-size: 20px;
			    font-family:  glacial;
			    a{
	      text-decoration: none;
		  color:black;
	   }
			}
       }
       .pro4{
       	   width: 23%;
       	   border: 2px solid  #e6e6e6;
       	   padding-top: 90px;
       	    p {
			    padding-top: 8px;
			    font-size: 20px;
			    font-family:  glacial;
			    a{
	      text-decoration: none;
		  color:black;
	   }
			}
       }
 } 
 .product1{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    .industry1{
    	background-image:url('../img/img3.gif'); 
    	width: 47%;
    	color: white;
    	margin-left: 25px;
    	    display: flex;
		    justify-content: space-between;
		    flex-wrap: wrap;
		    .k{
		    	width: 70%;
			    h1{
			    	font-size: 30px;
			    	font-family:mont-bold; 
			    	padding: 300px 0 20px 30px;
			    }
			}
			.k1{
				width: 30%;
				a{
					text-decoration:none;
					color: white;
					i{
						font-size: 30px;
						padding: 300px 0 0 90px;
					}
				}
			}
    }
    .health1{
    	background-image:url('../img/img4.gif'); 
    	width: 47%;
    	color: white;
    	margin-right: 25px;
    	    display: flex;
		    justify-content: space-between;
		    flex-wrap: wrap;
		    .m{
		    	width: 70%;
			    h1{
			    	font-size: 30px;
			    	font-family:mont-bold; 
			    	padding: 300px 0 20px 30px;
			    }
			}
			.m1{
				width: 30%;
				a{
					text-decoration:none;
					color: white; 
					i{
						font-size: 30px;
						padding: 300px 0 0 90px;
					}
			}
			}
    }
 }  
.world{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-left: 30px;
    .pure{
    	width: 30%;
    	h1 {
		    font-size: 23px;
		    font-family: poppins;
		    padding: 20px 0 13px;
		    line-height: 1.5;
		}
        p {
		    font-size: 18px;
		    font-family: poppins;
		    font-weight: 400;
            color: #898989;
            line-height: 1.3;
		}
    }
    .free{
    	width: 30%;
    	margin-left: 30px;
    	h1 {
		    font-size: 23px;
		    font-family: poppins;
		    padding: 20px 0 13px;
		    line-height: 1.5;
		}
		p {
		    font-size: 18px;
		    font-family:poppins;
		    line-height: 1.4;
		    padding-right: 63px;
		    color: #aaaaaa;
		}
    }
    .best{
    	width: 30%;
    	margin-left: 20px;
    	h1 {
		    font-size: 23px;
		    font-family:poppins;
		    padding: 20px 0 13px;
		    line-height: 1.5;
		}
		p {
		    font-size: 17px;
		    font-family: poppins;
		    line-height: 1.4;
		    padding-right: 103px;
		    color: #aaaaaa;
		}
    }
}
.portfolio{
	text-align: center;
		h1 {
	        font-size: 32px;
		    padding: 20px 0 40px;
		    font-family: glacial-b;
		    font-weight: bolder;
		    color: black;
	}
}
.come{
	padding:50px 0px 50px 0px;	
	background-size:100%;
	background-position:center;
	background-image:url('../img/pink1.gif'); 
	color: white;
	margin-bottom: 30px;
	.line{
		padding-top: 250px;
		padding-left: 100px;
		h1 {
		    font-size: 26px;
		    font-weight: bolder;
		    font-family: 'glacial';
		    padding-bottom: 15px;
		    border-left: 3px solid #e64364;
		    padding-left: 15px;
		}
		p{
			font-size: 13px;
		    font-family: 'glacial';
		    line-height: 2;
		    border-left: 3px solid #e64364;
		    padding-left: 15px;
		    font-weight: 900;
		}
	}
}
.view{
	margin-bottom: 100px;
	button {
	    background: none;
	    border: 1px solid black;
	    padding: 20px 80px;
	    font-size: 16px;
	    font-family: poppins;
	    margin:0 auto;
	    display: block;
	    a{
	      text-decoration: none;
		  color:black;
	   }
	}
}
.blog{
	text-align: center;
		h1 {
	    font-size: 32px;
	    padding: 20px 0 40px;
	    font-family: glacial-b;
	}
}
.health{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #e3e7e7;
    margin-bottom: 50px;
    .mask{
    	width: 32%;
    	img{
    		padding-bottom: 20px;
    	}
		h1 {
		    font-size: 22px;
		    font-family: glacial-b;
		    font-weight: bold;
		    padding-bottom: 20px;
		}
		span{
			font-size: 12px;
		    color: #a1a1a1;
		    font-family: 'glacial';
		}
		p {
		    font-family: 'glacial';
		    line-height: 1.5;
		    color: #9e9e9e;
		    padding-bottom: 20px;
		}
		a {
		    text-decoration: none;
		    color: #464646;
		    font-family: mont-reg;
		    font-weight: 600;
		}
    }
    .egg{
    	width: 32%;
    	padding-bottom: 100px;
    	img{
    		padding-bottom: 20px;
    	}
    	h1 {
		    font-size: 22px;
		    font-family: glacial-b;
		    font-weight: bold;
		    padding-bottom: 20px;
		    line-height: 1.5;
		}
		span{
			font-size: 12px;
		    color: #a1a1a1;
		    font-family: 'glacial';
		}
		p {
		    font-family: 'glacial';
		    line-height: 1.5;
		    color: #9e9e9e;
		    padding-bottom: 20px;
		}
		a {
		    text-decoration: none;
		    color: #464646;
		    font-family: mont-reg;
		    font-weight: 600;
		}
    }
    .lip{
    	width: 32%;
    	img{
    		padding-bottom: 20px;
    	}
    	h1 {
		    font-size: 22px;
		    font-family: glacial-b;
		    font-weight: bold;
		    padding-bottom: 20px;
		}
		span{
			font-size: 12px;
		    color: #a1a1a1;
		    font-family: 'glacial';
		}
		p {
		    font-family:'glacial';
		    line-height: 1.5;
		    color: #9e9e9e;
		    padding-bottom: 20px;
		}
		a {
		    text-decoration: none;
		    color: #464646;
		    font-family: mont-reg;
		    font-weight: 600;
		}
    }
}
.brand{
	text-align: center;
		h1 {
	    font-size: 32px;
	    padding: 20px 0 40px;
	    font-family: glacial-b;
	}
}
.brands{
	display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .brand1{
    	width: 13%;
    }
    .brand2{
    	width: 13%;
    }
    .brand3{
    	width: 13%;
    }
    .brand4{
    	width: 13%;
    }
    .brand5{
    	width: 13%;
			img {
			    margin-top: 21px;
			}
    }
}
.black{
	background-color: #262626;
	.foot{
		display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: white;
        .foot1{
        	width: 24%;
            .a{
            	border-bottom:2px solid #222222; 
              h1{
              	  width: 20%;
                  margin: 80px 0 -2px;
                  border-bottom: 2px solid white;
                  padding-bottom: 20px;
                  font-family: poppins; 
              }
            }
            p{
               padding-top: 70px;
               font-family: poppins;
               line-height: 1.7;
               font-size: 14px;
               padding-bottom: 20px;
            }
            ul{
            	margin-top: 14px;
            	li{
            		display: inline;
				    border: 2px solid white;
				    font-size: 15px;
				    padding: 10px;
				    border-radius: 24px;
				    margin-right: 13px;
            	}
            }
        }
        .foot2{
        	width: 24%;
        	margin-bottom: 60px;
        	.b{
        		border-bottom:2px solid #222222;
              h1{
              	  width: 20%;
                  margin: 80px 0 -2px;
                  border-bottom: 2px solid white;
                  padding-bottom: 20px;
                  font-family: poppins;
              }
            }
            ul{
               padding-top: 77px;
               font-family: poppins;
               font-size: 13px;
               font-weight: 600;
               word-spacing: 1;
               li{
               	padding-bottom: 20px;
               	a{
               		text-decoration: none;
               		color: white;
               	}
               }
               :hover{
               	    color: #ccc;
               }
            }
        }
        .foot3{
        	width: 24%;
        	.c{
        		border-bottom:2px solid #222222;
              h1{
              	  width: 27%;
                  margin: 80px 0 -2px;
                  border-bottom: 2px solid white;
                  padding-bottom: 20px;
                  font-family: poppins;
              }
            }
            ul{
               padding-top: 70px;
               font-family:poppins;
               font-size: 13px;
               font-weight: 600;
               li{
               	padding-bottom: 20px;
               	a{
               		text-decoration: none;
               		color: white;
               	}
               }
               :hover{
               	    color: #ccc;
               }
            }
        }
        .foot4{
        	width: 24%;
        	.d{
        		border-bottom:2px solid #222222;
              h1{
              	  width: 35%;
                  margin: 80px 0 -2px;
                  border-bottom: 2px solid white;
                  padding-bottom: 20px;
                  font-family: poppins;
              }
            }
			ul{
				padding-top: 70px;
			    font-family: 'open-reg';
				font-size: 13px;
				li {
				    margin-bottom: 20px;
				    display: flex;
				    i{
				    	font-size: 17px;
				    	margin-right: 20px;
				    }
				    h2{
				    	margin-top: -5px;
				    	line-height: 2;
				    	span{
				    		a{
				    			text-decoration: none;
				    			color: white;
				    		}
				    		:hover{
				    			color:  #ccc;
				    		}
				    	}
				    }
				}
		     }
        }
	}
}
@media only screen and (max-width: 576px) and (min-width: 375px){
.container {
	    width: 100%;
	.topbar {
	    display: block !important;
	    font-size: 12px;
	    text-align: center;
	    width: 100%;
		.toplink {
		    width: 100% !important;
		    ul{
		           padding: 30px 0 0px 35px!important;
		    }
		}
		.topicon {
		    width: 100% !important;
		    .left{
		    	ul{
		    		padding-left: 0px !important;
		    	}
		    }
		}
	}
	.riot{
		display: block;
		width: 100%;
		margin-bottom: 15px;
		.logo{
			width: 40%;
			img{
				margin: 15px 15px 40px;
			}
		}
	nav{
		width: 50%;
		margin: 0 auto;
		i.fa-solid{
		    font-size: 22px;
	        margin: 24px 30px;
			display: block;
			padding-left: 115%;
			margin-top: -83px;
		}
	    ul{
	    	margin-top: 10px;
		    display: none;
	       li{
			  display: block;
			  padding-left: 0;
			  margin: 20px 7px;
			  padding: 5px;
		      }
	    }
	    }
	    nav:hover{
	    	ul{
	    		display: block;
		        width: 100%;
	    	}
	}
	.icon {
   	    width: 100%;
	    margin-top: -60px;
	    text-align: end;
	    display: none;
	    ul{
	    	    margin-top: 39px;
	    	li{
	    		font-size: 20px;
	    		padding-top: 10px;
	    		padding-right: 15px;
	    	}
	    }
	}
}
	.b2{
		width: 100%;
		margin-bottom: 20px;
		.b21{
			  margin-left: 5%;
			  padding-left: 45px;
		    img{
		    	width: 100%;
		    }
		}
		.b22{
			  margin-left: 5%;
			  padding-right: 58px;
		    img{
		    	width: 100%;
		    }
		}
		.b23{
			  margin-left: 36%;
		    img{
		    	width: 100%;
		    }
		}
	}
	.product{
		display: block;	
		width: 100%;
		margin-bottom: 20px;
		.industry {
		    width: 94%;
		    margin-left: 3%;
		    margin-bottom: 15px;
		    height: 205px;
		    background-size: cover;
		    .i{
		    	width: 75%;
			    h1{
			    	padding-top: 165px;
			    	font-size: 22px;
			    }
		}
         .i1{
		    	width: 25%;
		    	i{
		    		padding: 158px 0 0 35px;
		    	}
		}
		}	
		.health2{
		    width: 94%;
		    margin-left: 3%;
		    height: 205px;
		    background-size: cover;
		    .h{
		    	width: 75%;
			    h1{
			    	padding-top: 165px;
			    	font-size: 22px;
			    }
		}
         .h1{
		    	width: 25%;
		    	i{
		    		padding: 158px 0 0 35px;
		    	}
		}
		}
	}
	.products{
		display: block;	
		margin-bottom: 20px;
		.pro1{
		    width: 80%;
		    margin-left: 10%;
		    margin-bottom: 15px;
		    height: 210px;
		}			
		.pro2{
		    width: 80%;
		    margin-left: 10%;
		    margin-bottom: 15px;
		}	
		.pro3{
		    width: 80%;
		    margin-left: 10%;
		    margin-bottom: 15px;
		    height: 170px;
		}	
		.pro4{
		    width: 80%;
		    margin-left: 10%;
		    margin-bottom: 15px;
		    height: 210px;
		}	
	}
	.product1{
		display: block;	
		width: 100%;
		margin-bottom: 20px;
		.industry1 {
		    width: 94%;
		    margin-left: 3%;
		    margin-bottom: 15px;
		    height: 205px;
		    background-size: cover;
		    .k{
		    	width: 75%;
			    h1{
			    	padding-top: 165px;
			    	font-size: 22px;
			    }
		}
         .k1{
		    	width: 25%;
		    	i{
		    		padding: 158px 0 0 35px;
		    	}
		}
		}	
		.health1{
		    width: 94%;
		    margin-left: 3%;
		    height: 205px;
		    background-size: cover;
		    .m{
		    	width: 75%;
			    h1{
			    	padding-top: 165px;
			    	font-size: 22px;
			    }
		}
         .m1{
		    	width: 25%;
		    	i{
		    		padding: 158px 0 0 35px;
		    	}
		}
		}
	}
	.world{
		display: block;
		width: 100%;
		margin-left: 0;
		text-align: center;
		margin-bottom: 20px;
		.pure{
			width: 100%;
			p{
				padding: 0 0 20px 0;
				margin: 0 36px;
                font-size: 15px;
			}
		}
		.free{
			width: 100%;
			margin-left: 0;
			p{
				padding-right: 0;
				margin: 0 36px;
                font-size: 15px;
			}
		}
		.best{
			width: 100%;
			margin-left: 0;
			p{
				padding-right: 0;
				margin: 0 36px;
                font-size: 15px;
			}
		}		
	}
	.portfolio{
		  h1{
		     	font-size: 18px;
                padding: 7px 0 20px
		  }
	}
    .come{
    	padding: 0;
    	margin-bottom: 20px;
    	.line{
    		padding: 50px 20px 15px;
    		h1{
    			font-size: 13px;
    			padding-bottom: 8px;
    		}
    		p{
    			font-size: 6px;
    			margin-right: 16px;
    			line-height: 1.3;
    		}
    	}
    }
    .view{
    	margin-bottom: 10px;
    	button{
                padding: 8px 20px;
                font-size: 12px;
    	}
    }
	  .blog{
			  h1{
			     	font-size: 18px;
	                padding: 7px 0 20px
			  }
		}
	.health{
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		.mask{
			width: 100%;
			padding-bottom: 20px;
			 img {
			    width: 70%;
			    margin: 0 15%;
			}
			h1{
				font-size: 16px;
			}
			p{
				font-size: 13px
			}
		}	
		.egg{
			width: 100%;
			padding-bottom: 20px;
			 img {
			    width: 70%;
			    margin: 0 15%;
			}
			h1{
				font-size: 16px;
				margin: 0 10%;
			}
			p{
				font-size: 13px
			}
		}
		.lip{
			width: 100%;
			padding-bottom: 20px;
			 img {
			    width: 70%;
			    margin: 0 15%;
			}
			h1{
				font-size: 16px;
			}
			p{
				font-size: 13px
			}
		}
	}
	.brand{
			  h1{
			     	font-size: 18px;
	                padding: 7px 0 20px
			  }
		}
	.brands{
		width: 100%;
		margin-bottom: 15px;
		.brand1{
			img{
                width: 90%;
			}
		}	
		.brand2{
			img{
				width: 80%;
			}
		}	
		.brand3{
			img{
				width: 70%;
			}
		}	
		.brand4{
			img{
				width: 90%;
			}
		}	
		.brand5{
			img{
				width: 100%;
			}
		}	
	}
	.black{
		display: block;
		width: 100%;	
	}
}
	.banner{
			 padding: 20px 0;
			 margin-bottom: 20px;
		h1{
	       font-size: 20px;
	       padding: 10px;
		}
		p{
	       font-size: 10px;
           margin: 0 45px;
           padding-bottom: 12px;
		}
		button {
		    font-size: 10px;
		    padding: 7px 15px;
		}
		img {
		    width: 7%;
		    margin-top: 15px;
		}
	}
	.black{
	.foot {
	    display: block !important;
	    width: 100%;
	    text-align: center;
	    .foot1{
	    	width: 100%;
	    	padding-top: 15px;
	    	.a{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
	    		}
	    	}
	    	p{
	    		padding-top: 20px;
			    font-size: 12px;
			    padding-bottom: 15px;
			    margin: 0 10%;
	    	}
	    	ul {
	    		li{
	    		   font-size: 10px;
	    		}
	    	}
	    }
	    .foot2{
	    	   margin-bottom: 20px;
	    	   width: 100%;
	    	   padding-top: 30px;
	    	.b{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
				    width: 23%;
	    		}
	    	}
	    	ul {
	    		    padding-top: 30px;
	    		li{
	    		   font-size: 10px;
	    		}
	    	}
	    }
	    .foot3{
	    	  width: 100%;
	    	  margin-bottom: 20px;
	    	.c{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
				    width: 23%;
	    		}
	    	}
	    	ul {
	    		    padding-top: 30px;
	    		li{
	    		   font-size: 10px;
	    		}
	    	}
	    }
	    .foot4{
	    	width: 100%;
	    	.d{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
				    width: 28%;
	    		}
	    	}
	    	ul {
	    		    padding-top: 30px;
	    		    margin-left: 35%;
	    		li{
	    		   font-size: 10px;
	    		   margin-bottom: 0px;
	    		   padding-bottom: 15px;
	    		   text-align: initial;
	    		}
	    	}
	    }
	}
    }
}
@media only screen and (max-width: 768px) and (min-width: 577px){
.container {
	    width: 100%;
	.topbar {
	    display: block !important;
	    font-size: 12px;
	    text-align: center;
	    width: 100%;
		.toplink {
		    width: 100% !important;
		    ul{
		       padding-bottom: 0px !important; 	
		    }
		}
		.topicon {
		    width: 100% !important;
		    .left{
                width: 50% !important;
		    }
		    .right{
                width: 50% !important;
		    }
		}
	}
	.riot{
		display: block;
		width: 100%;
		margin-bottom: 15px;
		.logo{
			width: 40%;
			img{
				margin: 15px 15px 40px;
			}
		}
	nav{
		width: 50%;
		margin: 0 auto;
		i.fa-solid{
		    font-size: 30px;
	        margin: 42px 38%;
			display: block;
			padding-left: 100%;
			margin-top: -110px;
		}
	    ul{
	    	margin-top: 10px;
		    display: none;
	       li{
			  display: block;
			  padding-left: 0;
			  margin: 20px 7px;
			  padding: 5px;
		      }
	    }
	    }
	    nav:hover{
	    	ul{
	    		display: block;
		        width: 100%;
	    	}
	}
	.icon {
   	    width: 100%;
	    margin-top: -60px;
	    text-align: end;
	    display: none;
	    ul{
	    	    margin-top: 39px;
	    	li{
	    		font-size: 20px;
	    		padding-top: 10px;
	    		padding-right: 15px;
	    	}
	    }
	}
}
	.b2{
		width: 100%;
		margin-bottom: 20px;
		.b21{
			  margin-left: 5%;
			  padding-left: 45px;
		    img{
		    	width: 100%;
		    }
		}
		.b22{
			  margin-left: 5%;
			  padding-right: 58px;
		    img{
		    	width: 100%;
		    }
		}
		.b23{
			  margin-left: 36%;
		    img{
		    	width: 100%;
		    }
		}
	}
	.product{
		display: block;	
		width: 100%;
		margin-bottom: 20px;
		.industry {
		    width: 74%;
		    margin-left: 14%;
		    margin-bottom: 15px;
		    .i{
		    	width: 55%;
			    h1{
			    	padding-top: 230px;
			    }
		  }
         .i1{
		    	width: 45%;
		    	i{
		    		padding-top: 245px;
		    		padding-left: 70%;
                 }
		   }
		}	
		.health2{
		    width: 74%;
		    margin-left: 14%;
		    .h{
		    	width: 55%;
			    h1{
			    	padding-top: 230px;
			    }
		  }
         .h1{
		    	width: 45%;
		    	i{
		    		padding-top: 245px;
		    		padding-left: 70%;
                 }
		    }
		}
	}
	.products{
		display: block;	
		margin-bottom: 20px;
		.pro1{
		    width: 70%;
		    margin-left: 15%;
		    margin-bottom: 15px;
		}			
		.pro2{
		    width: 70%;
		    margin-left: 15%;
		    margin-bottom: 15px;
		}	
		.pro3{
		    width: 70%;
		    margin-left: 15%;
		    margin-bottom: 15px;
		}	
		.pro4{
		    width: 70%;
		    margin-left: 15%;
		    margin-bottom: 15px;
		}	
	}
	.product1{
		display: block;	
		width: 100%;
		margin-bottom: 20px;
		.industry1 {
		    width: 74%;
		    margin-left: 14%;
		    margin-bottom: 15px;
		    .k{
		    	width: 55%;
			    h1{
			    	padding-top: 230px;
			    }
		  }
         .k1{
		    	width: 45%;
		    	i{
		    		padding-top: 245px;
		    		padding-left: 70%;
                 }
		   }
		}	
		.health1{
		    width: 74%;
		    margin-left: 14%;
		    .m{
		    	width: 55%;
			    h1{
			    	padding-top: 230px;
			    }
		  }
         .m1{
		    	width: 45%;
		    	i{
		    		padding-top: 245px;
		    		padding-left: 70%;
                 }
		    }
		}
	}
	.world{
		display: block;
		width: 100%;
		margin-left: 0;
		text-align: center;
		margin-bottom: 20px;
		.pure{
			width: 100%;
			p{
				padding: 0 0 20px 0;
				margin: 0 36px;
                font-size: 15px;
			}
		}
		.free{
			width: 100%;
			margin-left: 0;
			p{
				padding-right: 0;
				margin: 0 36px;
                font-size: 15px;
			}
		}
		.best{
			width: 100%;
			margin-left: 0;
			p{
				padding-right: 0;
				margin: 0 36px;
                font-size: 15px;
			}
		}		
	}
	.portfolio{
		  h1{
		     	font-size: 18px;
                padding: 7px 0 20px
		  }
	}
    .come{
    	padding: 0;
    	margin-bottom: 20px;
    	.line{
    		padding: 100px 20px 15px;
    		h1{
    			font-size: 14px;
    		}
    		p{
    			font-size: 10px;
    			margin-right: 16px;
    		}
    	}
    }
    .view{
    	margin-bottom: 10px;
    	button{
                padding: 8px 20px;
                font-size: 12px;
    	}
    }
	  .blog{
			  h1{
			     	font-size: 18px;
	                padding: 7px 0 20px
			  }
		}
	.health{
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		.mask{
			width: 60%;
			margin: 0 auto;
			padding-bottom: 20px;
			 img {
			    width: 70%;
			    margin: 0 15%;
			}
			h1{
				font-size: 16px;
			}
			p{
				font-size: 13px
			}
		}	
		.egg{
			width: 60%;
			margin: 0 auto;
			padding-bottom: 20px;
			 img {
			    width: 70%;
			    margin: 0 15%;
			}
			h1{
				font-size: 16px;
				margin: 0 10%;
			}
			p{
				font-size: 13px
			}
		}
		.lip{
			width: 60%;
			margin: 0 auto;
			padding-bottom: 20px;
			 img {
			    width: 70%;
			    margin: 0 15%;
			}
			h1{
				font-size: 16px;
			}
			p{
				font-size: 13px
			}
		}
	}
	.brand{
			  h1{
			     	font-size: 18px;
	                padding: 7px 0 20px
			  }
		}
	.brands{
		width: 100%;
		margin-bottom: 15px;
		.brand1{
			img{
                width: 90%;
			}
		}	
		.brand2{
			img{
				width: 80%;
			}
		}	
		.brand3{
			img{
				width: 70%;
			}
		}	
		.brand4{
			img{
				width: 90%;
			}
		}	
		.brand5{
			img{
				width: 100%;
			}
		}	
	}
	.black{
		display: block;
		width: 100%;	
	}
}
	.banner{
			 padding: 20px 0;
			 margin-bottom: 20px;
		h1{
	       font-size: 20px;
	       padding: 10px;
		}
		p{
	       font-size: 10px;
           margin: 0 45px;
           padding-bottom: 12px;
		}
		button {
		    font-size: 10px;
		    padding: 7px 15px;
		}
		img {
		    width: 7%;
		    margin-top: 15px;
		}
	}
	.black{
	.foot {
	    display: block !important;
	    width: 100%;
	    text-align: center;
	    .foot1{
	    	width: 100%;
	    	padding-top: 15px;
	    	.a{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
	    		}
	    	}
	    	p{
	    		padding-top: 20px;
			    font-size: 12px;
			    padding-bottom: 15px;
			    margin: 0 10%;
	    	}
	    	ul {
	    		li{
	    		   font-size: 10px;
	    		}
	    	}
	    }
	    .foot2{
	    	   margin-bottom: 20px;
	    	   width: 100%;
	    	   padding-top: 30px;
	    	.b{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
				    width: 23%;
	    		}
	    	}
	    	ul {
	    		    padding-top: 30px;
	    		li{
	    		   font-size: 10px;
	    		}
	    	}
	    }
	    .foot3{
	    	  width: 100%;
	    	  margin-bottom: 20px;
	    	.c{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
				    width: 23%;
	    		}
	    	}
	    	ul {
	    		    padding-top: 30px;
	    		li{
	    		   font-size: 10px;
	    		}
	    	}
	    }
	    .foot4{
	    	width: 100%;
	    	.d{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
				    width: 28%;
	    		}
	    	}
	    	ul {
	    		    padding-top: 30px;
	    		    margin-left: 42%;
	    		li{
	    		   font-size: 10px;
	    		   margin-bottom: 0px;
	    		   padding-bottom: 15px;
	    		   text-align: initial;
	    		}
	    	}
	    }
	}
    }
}
@media only screen and (max-width: 992px) and (min-width: 769px){
.container {
	    width: 100%;
	.topbar {
	    display: block !important;
	    font-size: 12px;
	    text-align: center;
	    width: 100%;
		.toplink {
		    width: 100% !important;
		    ul{
		       padding-bottom: 0px !important; 	
		    }
		}
		.topicon {
		    width: 100% !important;
		    .left{
                width: 50% !important;
		    }
		    .right{
                width: 50% !important;
		    }
		}
	}
	.riot{
		display: block;
		width: 100%;
		margin-bottom: 15px;
		.logo{
			width: 40%;
		}
	nav{
		i.fa-solid{
		    font-size: 40px;
	        margin: 70px 15%;
			display: block;
			padding-left: 130%;
			margin-top: -122px;
		}
	    ul{
	    	margin-top: 10px;
		    display: none;
	       li{
			  display: block;
			  padding-left: 0;
			  margin: 20px 7px;
			  padding: 5px;
		      }
	    }
	    }
	    nav:hover{
	    	ul{
	    		display: block;
		        width: 100%;
	    	}
	}
	.icon {
   	    width: 100%;
	    margin-top: -60px;
	    text-align: end;
	    display: none;
	    ul{
	    	    margin-top: 39px;
	    	li{
	    		font-size: 20px;
	    		padding-top: 10px;
	    		padding-right: 15px;
	    	}
	    }
	}
}
	.b2{
		width: 100%;
		margin-bottom: 20px;
		.b21{
			  margin-left: 5%;
			  padding-left: 45px;
		    img{
		    	width: 100%;
		    }
		}
		.b22{
			  margin-left: 5%;
			  padding-right: 58px;
		    img{
		    	width: 100%;
		    }
		}
		.b23{
			  margin-left: 36%;
		    img{
		    	width: 100%;
		    }
		}
	}
	.product{
		display: block;	
		width: 100%;
		margin-bottom: 20px;
		.industry {
		    width: 56%;
		    margin:0 auto;
		    margin-bottom: 15px;
		    .i{
		    	width: 55%;
			    h1{
			    	padding-top: 230px;
			    }
		  }
         .i1{
		    	width: 45%;
		    	i{
		    		padding-top: 245px;
		    		padding-left: 70%;
                 }
		   }
		}	
		.health2{
		    width: 56%;
		    margin:0 auto;
		    .h{
		    	width: 55%;
			    h1{
			    	padding-top: 230px;
			    }
		  }
         .h1{
		    	width: 45%;
		    	i{
		    		padding-top: 245px;
		    		padding-left: 70%;
                 }
		    }
		}
	}
	.products{
		display: block;	
		margin-bottom: 20px;
		.pro1{
		    width: 56%;
		    margin:0 auto;
		    margin-bottom: 15px;
		}			
		.pro2{
		    width: 56%;
		    margin:0 auto;
		    margin-bottom: 15px;
		}	
		.pro3{
		    width: 56%;
		    margin:0 auto;
		    margin-bottom: 15px;
		}	
		.pro4{
		    width: 70%;
		    margin-left: 15%;
		    margin-bottom: 15px;
		}	
	}
	.product1{
		display: block;	
		width: 100%;
		margin-bottom: 20px;
		.industry1{
		    width: 56%;
		    margin:0 auto;
		    margin-bottom: 15px;
		    .k{
		    	width: 55%;
			    h1{
			    	padding-top: 230px;
			    }
		  }
         .k1{
		    	width: 45%;
		    	i{
		    		padding-top: 245px;
		    		padding-left: 70%;
                 }
		   }
		}	
		.health1{
		    width: 56%;
		    margin:0 auto;
		    .m{
		    	width: 55%;
			    h1{
			    	padding-top: 230px;
			    }
		  }
         .m1{
		    	width: 45%;
		    	i{
		    		padding-top: 245px;
		    		padding-left: 70%;
                 }
		    }
		}
	}
	.world{
		display: block;
		width: 100%;
		margin-left: 0;
		text-align: center;
		margin-bottom: 20px;
		.pure{
			width: 100%;
			p{
				padding: 0 0 20px 0;
				margin: 0 36px;
                font-size: 15px;
			}
		}
		.free{
			width: 100%;
			margin-left: 0;
			p{
				padding-right: 0;
				margin: 0 36px;
                font-size: 15px;
			}
		}
		.best{
			width: 100%;
			margin-left: 0;
			p{
				padding-right: 0;
				margin: 0 36px;
                font-size: 15px;
			}
		}		
	}
	.portfolio{
		  h1{
		     	font-size: 18px;
                padding: 7px 0 20px
		  }
	}
    .come{
    	padding: 0;
    	margin-bottom: 20px;
    	.line{
    		padding: 100px 20px 15px;
    		h1{
    			font-size: 14px;
    		}
    		p{
    			font-size: 10px;
    			margin-right: 16px;
    		}
    	}
    }
    .view{
    	margin-bottom: 10px;
    	button{
                padding: 8px 20px;
                font-size: 12px;
    	}
    }
	  .blog{
			  h1{
			     	font-size: 18px;
	                padding: 7px 0 20px
			  }
		}
	.health{
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		.mask{
			width: 100%;
			padding-bottom: 20px;
			 img {
			    width: 40%;
			    margin: 0 15%;
			}
			h1{
				font-size: 16px;
			}
			p{
				font-size: 13px
			}
		}	
		.egg{
			width: 100%;
			padding-bottom: 20px;
			 img {
			    width: 40%;
			    margin: 0 15%;
			}
			h1{
				font-size: 16px;
				margin: 0 10%;
			}
			p{
				font-size: 13px
			}
		}
		.lip{
			width: 100%;
			padding-bottom: 20px;
			 img {
			    width: 40%;
			    margin: 0 15%;
			}
			h1{
				font-size: 16px;
			}
			p{
				font-size: 13px
			}
		}
	}
	.brand{
			  h1{
			     	font-size: 18px;
	                padding: 7px 0 20px
			  }
		}
	.brands{
		width: 100%;
		margin-bottom: 15px;
		.brand1{
			img{
                width: 90%;
			}
		}	
		.brand2{
			img{
				width: 80%;
			}
		}	
		.brand3{
			img{
				width: 70%;
			}
		}	
		.brand4{
			img{
				width: 90%;
			}
		}	
		.brand5{
			img{
				width: 100%;
			}
		}	
	}
	.black{
		display: block;
		width: 100%;	
	}
}
	.banner{
			 padding: 20px 0;
			 margin-bottom: 20px;
		h1{
	       font-size: 20px;
	       padding: 10px;
		}
		p{
	       font-size: 10px;
           margin: 0 45px;
           padding-bottom: 12px;
		}
		button {
		    font-size: 10px;
		    padding: 7px 15px;
		}
		img {
		    width: 3%;
		    margin-top: 15px;
		}
	}
	.black{
	.foot {
	    display: block !important;
	    width: 100%;
	    text-align: center;
	    .foot1{
	    	width: 100%;
	    	padding-top: 15px;
	    	.a{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
	    		}
	    	}
	    	p{
	    		padding-top: 20px;
			    font-size: 12px;
			    padding-bottom: 15px;
			    margin: 0 10%;
	    	}
	    	ul {
	    		li{
	    		   font-size: 10px;
	    		}
	    	}
	    }
	    .foot2{
	    	   margin-bottom: 20px;
	    	   width: 100%;
	    	   padding-top: 30px;
	    	.b{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
				    width: 23%;
	    		}
	    	}
	    	ul {
	    		    padding-top: 30px;
	    		li{
	    		   font-size: 10px;
	    		}
	    	}
	    }
	    .foot3{
	    	  width: 100%;
	    	  margin-bottom: 20px;
	    	.c{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
				    width: 23%;
	    		}
	    	}
	    	ul {
	    		    padding-top: 30px;
	    		li{
	    		   font-size: 10px;
	    		}
	    	}
	    }
	    .foot4{
	    	width: 100%;
	    	.d{
	    		h1{
	    		    margin: 15px 0 -1px 37%;
				    padding-bottom: 10px;
				    width: 28%;
	    		}
	    	}
	    	ul {
	    		    padding-top: 30px;
	    		    margin-left: 42%;
	    		li{
	    		   font-size: 10px;
	    		   margin-bottom: 0px;
	    		   padding-bottom: 15px;
	    		   text-align: initial;
	    		}
	    	}
	    }
	}
    }
}